[Desktop Entry]
Version=1.0
Type=Application
Name=MoBa-Sniffer
Exec=moba-sniffer
Comment=Sniffer
Icon=moba-sniffer
Terminal=0
Categories=System-manager
Encoding=UTF-8

