[Desktop Entry]
Version=1.0
Type=Application
Name=MoBa-Sniffer
Exec=/usr/local/bin/moba-sniffer
Comment=Sniffer
Icon=moba-sniffer
Terminal=false
Categories=System
StartupWMClass=org.moba.sniffer
